<div style="width:100%">
  <h1>hello</h1>
<video style="width:100%" autoplay="autoplay" preload="auto" id="pretzel-video" class="video-playing">
  <source src="https://a0.muscache.com/airbnb/static/SanFrancisco-P1-1.mp4" type="video/mp4">
  <source src="https://a0.muscache.com/airbnb/static/SanFrancisco-P1-0.webm" type="video/webm">
</video>
</div>
<h2>Feature Voting</h2>
<p>We'll be implementing a feature suggestion box. Feel free to suggest any features that will be most beneficial.</p>

<%= link_to "Suggest a new feature", new_feature_url %>

<h4>Suggested Features</h4>
<% @features.each do |feature| %>
  Votes:
  <%= feature.votes.length %>  
  <%= link_to feature.name, feature_url(feature) %> <br />
<% end %>

<h2>Events</h2>
<h3>Upcoming Events</h3>
  <% @upcoming_events.each do |event| %>
    <%= event.date.to_formatted_s(:long) %> - <%= link_to event.title, event_url(event) %> <br />
  <% end %>

<h3>Recent Events</h3>
  <% @recent_events.each do |event| %>
    <%= event.date.to_formatted_s(:long) %> - <%= link_to event.title, event_url(event) %> <br />
  <% end %>

<h2>Recent Messages</h2>



