<h2>Feature Voting</h2>
<p>We'll be implementing a feature suggestion box. Feel free to suggest any features that will be most beneficial.</p>

<%= link_to "Suggest a new feature", new_feature_url %>

<h4>Feature Standings</h4>
<% @features.each do |feature| %>
  Votes:<%= feature.votes.length %>  <%= link_to feature.name, feature_url(feature) %> <br />
<% end %>

<h2>Recent Events</h2>
<% @events.each do |event| %>
  <%= event.date.to_formatted_s(:long) %> - <%= link_to event.title, event_url(event) %><br />
<% end %>


<h2>Recent Messages</h2>



