<form action="<%= action_url %>" method="post">
  <%= render 'shared/auth_token' %>
  <% if patch %>
    <%= render 'shared/patch' %>
  <% end %>

  <label for="feature-name">Name</label>
  <input type="text" name="feature[name]" id="feature-name" value="<%= @feature.name %>" />

  <label for="feature-description">Description</label>
  <textarea name="feature[description]" id="feature-description" rows="12" cols="40"></textarea>

  <div>
    <button type="submit"><%= submit_button %></button>
  </div>
</form>
