<h1>Events</h1>
<div id="event_board">
  <% if logged_in?  %>
    <%= link_to "Create New Event", new_event_url  %>
  <% end %>

  <h3>Upcoming Events</h3>
  <% @upcoming_events.each do |event| %>
    <p><%= event.date.to_formatted_s(:long) %> - <%= link_to event.title, event_url(event) %> </p>
  <% end %>



  <h3>Recent Events</h3>
  <% @recent_events.each do |event| %>
    <p><%= event.date.to_formatted_s(:long) %> - <%= link_to event.title, event_url(event) %> </p>
  <% end %>
</div>
