<h1><%= @event.title %></h1>
<h4><%= @event.date.to_formatted_s(:long) %><br /> <%= @event.time %></h4>
<% if @event.user == current_user %>
  <%= link_to "Edit", edit_event_url(@event)  %>
<% end %>

<p>Location: <%= @event.location %></p>
<p>Description: <%= @event.description %></p>

<%= button_to "RSVP!", event_rsvps_url(@event), method: :post %>
<%= link_to "See all RSVPs for this event", event_rsvps_url(@event) %>
